# Ignorar node_modules
node_modules/

# Ignorar arquivos de ambiente
.env
.env.*

# Ignorar logs
logs/
*.log

# Ignorar arquivos de cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar diretórios de build
dist/
build/

# Ignorar arquivos do sistema operacional
.DS_Store
Thumbs.db